<!DOCTYPE HTML>

<html>
	<head>
		<title>Beer time</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Beer time</a></h1>
					</header>
					<section id="bannersearch">
						<div class="inner">
              <results id="results">
							<ul class="actions">
								<div style="margin:0 auto;">
                  <h2>Found <%= results.length %> beers matching "<%= query %>"</h2>
									<table align="center">
												<tr>
																<th>Name</th>
                                <th>Strength</th>
                                <th>Style</th>
                                <th>Description</th>

												</tr>
							                  <% for (var i=0; i<results.length;i++){ %>
												 <tr>
					               	<td align="left">
					              		<p> <%= results[i]['name'] %> </p>
					          			</td>
                          <td align="left">
                            <p> <%= results[i]['abv'] %> </p>
                          </td>
                          <td align="left">
                            <% if (typeof(results[i]['style']) != 'undefined'){ %>
                            <p> <%= results[i]['style'].shortName %></p>
                            <% } %>
                          </td>
                          <td align="left">
                            <p> <%= results[i]['description'] %></p>
                          </td>
												</tr>
		                  <% } %>
									</table>
								</div>
							</ul>
						</div>
					</section>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>
